* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #44dd44;
  position: relative;
  padding-top: 4rem;
  overflow-x: hidden;
}

body .heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 1400;
  color: white;
  text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .cp {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: -4rem;
  font-size: 3rem;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#a9c726), to(#0011ff));
  background-image: linear-gradient(to right, #a9c726, #0011ff);
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

body .cp:hover {
  -webkit-transform: skewX(10deg) skewY(2deg) scale(1.1);
          transform: skewX(10deg) skewY(2deg) scale(1.1);
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

body:after {
  content: "";
  background-image: url("https://www.parkview.com/media/Image/Dashboard_952_COVID_heat_5_20.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
}

body .myweather {
  height: 60vh;
  width: 50vh;
  background-color: white;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://www.sun-sentinel.com/resizer/mnwBl1ue_cKqNzBJVEB1G6jM6Y4=/1200x0/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/7OG4NT2UJNATJPI4KSCMQQFLC4.JPG");
  background-size: cover;
  color: white;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

body .myweather h3 {
  font-size: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .myweather img {
  border-radius: 1rem;
  height: 30%;
  width: 40%;
}

body .container {
  height: 100vh;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .search {
  background-color: green;
  height: 80%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-image: url("https://www.sun-sentinel.com/resizer/mnwBl1ue_cKqNzBJVEB1G6jM6Y4=/1200x0/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/7OG4NT2UJNATJPI4KSCMQQFLC4.JPG");
  background-size: cover;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

body .container .search input {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.2rem;
  font-weight: 700;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 3rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search input:focus {
  background-color: #c1d6ab;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .container .search input:focus:not(focus-visible) {
  outline: none;
}

body .container .search .name {
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search .temperature {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search .description {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search .rain {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search img {
  background-color: white;
  height: 35%;
  width: 35%;
  border-radius: 1rem;
}

body .container .search button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  border: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

body .container .search button:focus:not(focus-visible) {
  outline: none;
}

body .container .search button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: black;
  color: white;
}

body .container .search button:active {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #313131;
}

@media screen and (max-width: 940px) {
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170vh;
    padding: 2rem;
  }
  body .container .search {
    margin-bottom: 2rem;
    width: 70%;
  }
  body .container .search img {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */